    <%- contentFor('banner') %>
    <div class="top">
        <div class="top-text">
            <h1 class="header-text">Hi, I'm William</h1>
            <p class="header-text-two">Your Developer Advocate</p>
        </div>
    </div>
    
    <%- contentFor('container') %>
    <div class="container">
        <div>
            <h2>This would hold other content</h2>
        </div>
    </div>

    